<h1>View Task</h1>

<form method="get">
    {% csrf_token %}
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="{{ task.title }}" disabled><br><br>

    <label for="description">Description:</label>
    <textarea id="description" name="description" disabled>{{ task.description }}</textarea><br><br>

    <label for="status">Status:</label>
    <input type="text" id="title" name="title" value="{{ task.status }}" disabled><br><br>

    <label for="hours_spent">Hours Spent:</label>
    <input type="text" id="hours_spent" name="hours_spent" value="{{ task.hour_spent }}" disabled><br><br>

    <label for="tags">Tags:</label>
    <input type="text" id="tags" name="tags" value="{{ task.tags}}" disabled><br><br>

    <label for="task_date">Task Date:</label>
    <input type="date" id="task_date" name="task_date" value="{{ task.task_date }}" disabled><br><br>

    <label for="manager_comment">Manager Comment:</label>
    <textarea type="text" id="manager_comment" name="manager_comment" disabled>{{ task.manager_comment }}</textarea><br><br>
</form>
